
        <html>
        <head>
            <meta charset='utf-8'>
            <style>#tds table,#tds tr,#tds td{border:1px solid #000;}</style>
        </head>
        <body>
        <table id="tds">
            <thead>
                <tr role='row'>
                <!-- <th>排行</th> -->
                <th>影片標題</th>
                <th>鏈結</th>
                <th>圖片</th>
                <th>觀看次數</th>
                <th>喜歡</th>
                <th>不喜歡</th>
                <th>留言數</th>
                <th>發布日期</th>
                </tr>
            </thead>
            <tbody>
        
                    <tr>
                        <td>茄子蛋EggPlantEgg - 愛情你比我想的閣較偉大 (Official Music Video﻿)《當男人戀愛時》電影主題曲</td>
                        <td><a href="https://www.youtube.com/watch?v=0rp3pP2Xwhs" target="_blank">https://www.youtube.com/watch?v=0rp3pP2Xwhs</td>
                        <td><img src="https://i.ytimg.com/vi/0rp3pP2Xwhs/default.jpg"></td>
                        <td>28441750</td>
                        <td>147305</td>
                        <td>3615</td>
                        <td>5286</td>
                        <td>2021-03-14</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 孤獨的人我們一起出發Walk with Me If You’re One of the Lonely Ones (Official Music Video﻿)</td>
                        <td><a href="https://www.youtube.com/watch?v=EMNhEm6tDNQ" target="_blank">https://www.youtube.com/watch?v=EMNhEm6tDNQ</td>
                        <td><img src="https://i.ytimg.com/vi/EMNhEm6tDNQ/default.jpg"></td>
                        <td>3729614</td>
                        <td>30852</td>
                        <td>445</td>
                        <td>1238</td>
                        <td>2020-09-29</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 恰似你的溫柔Just Like Your Tenderness (Official Audio)</td>
                        <td><a href="https://www.youtube.com/watch?v=Sv0OblpjrOw" target="_blank">https://www.youtube.com/watch?v=Sv0OblpjrOw</td>
                        <td><img src="https://i.ytimg.com/vi/Sv0OblpjrOw/default.jpg"></td>
                        <td>5386478</td>
                        <td>26943</td>
                        <td>573</td>
                        <td>844</td>
                        <td>2020-09-18</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 請問你敢欲做我的Girlfriend  Would You Want to Be My Girlfriend? (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=4Z6qpvMpSMM" target="_blank">https://www.youtube.com/watch?v=4Z6qpvMpSMM</td>
                        <td><img src="https://i.ytimg.com/vi/4Z6qpvMpSMM/default.jpg"></td>
                        <td>2026793</td>
                        <td>28091</td>
                        <td>394</td>
                        <td>1008</td>
                        <td>2020-01-23</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 窒息 Can’t Breathe (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=caITRQWpBHs" target="_blank">https://www.youtube.com/watch?v=caITRQWpBHs</td>
                        <td><img src="https://i.ytimg.com/vi/caITRQWpBHs/default.jpg"></td>
                        <td>3044079</td>
                        <td>26640</td>
                        <td>456</td>
                        <td>1420</td>
                        <td>2019-09-07</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 這款自作多情 All That Wishful Thinking (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=UocMW7BG0ls" target="_blank">https://www.youtube.com/watch?v=UocMW7BG0ls</td>
                        <td><img src="https://i.ytimg.com/vi/UocMW7BG0ls/default.jpg"></td>
                        <td>15341786</td>
                        <td>73963</td>
                        <td>1853</td>
                        <td>4103</td>
                        <td>2019-08-21</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - Happy!!! 運將情歌 Happy!!! Drivers Love Song (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=ulKrn-3GraI" target="_blank">https://www.youtube.com/watch?v=ulKrn-3GraI</td>
                        <td><img src="https://i.ytimg.com/vi/ulKrn-3GraI/default.jpg"></td>
                        <td>9123121</td>
                        <td>56239</td>
                        <td>1239</td>
                        <td>2451</td>
                        <td>2019-07-14</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 《想妳的彼暗》2018 巡迴紀錄</td>
                        <td><a href="https://www.youtube.com/watch?v=7M0eHHc5aS4" target="_blank">https://www.youtube.com/watch?v=7M0eHHc5aS4</td>
                        <td><img src="https://i.ytimg.com/vi/7M0eHHc5aS4/default.jpg"></td>
                        <td>200914</td>
                        <td>2470</td>
                        <td>34</td>
                        <td>95</td>
                        <td>2019-02-23</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 親愛的無情孫小美 Dear Heartless (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=UXHTGeGkZwU" target="_blank">https://www.youtube.com/watch?v=UXHTGeGkZwU</td>
                        <td><img src="https://i.ytimg.com/vi/UXHTGeGkZwU/default.jpg"></td>
                        <td>16620668</td>
                        <td>48605</td>
                        <td>1359</td>
                        <td>1568</td>
                        <td>2018-11-28</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 浪流連 Waves Wandering (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=3Y0Ut5ozaKs" target="_blank">https://www.youtube.com/watch?v=3Y0Ut5ozaKs</td>
                        <td><img src="https://i.ytimg.com/vi/3Y0Ut5ozaKs/default.jpg"></td>
                        <td>96177565</td>
                        <td>242134</td>
                        <td>11991</td>
                        <td>10678</td>
                        <td>2018-09-26</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 日常 Everyday Life (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=_vGN_dFtAQI" target="_blank">https://www.youtube.com/watch?v=_vGN_dFtAQI</td>
                        <td><img src="https://i.ytimg.com/vi/_vGN_dFtAQI/default.jpg"></td>
                        <td>8298308</td>
                        <td>40164</td>
                        <td>741</td>
                        <td>1254</td>
                        <td>2018-02-03</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 浪子回頭 Back Here Again (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=x3bDhtuC5yk" target="_blank">https://www.youtube.com/watch?v=x3bDhtuC5yk</td>
                        <td><img src="https://i.ytimg.com/vi/x3bDhtuC5yk/default.jpg"></td>
                        <td>122270593</td>
                        <td>365237</td>
                        <td>19241</td>
                        <td>22043</td>
                        <td>2017-12-03</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 【恁攏看我親像卡通人物】巡迴紀錄</td>
                        <td><a href="https://www.youtube.com/watch?v=F-P3vXpbd6o" target="_blank">https://www.youtube.com/watch?v=F-P3vXpbd6o</td>
                        <td><img src="https://i.ytimg.com/vi/F-P3vXpbd6o/default.jpg"></td>
                        <td>136375</td>
                        <td>483</td>
                        <td>16</td>
                        <td>9</td>
                        <td>2017-11-08</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - Ms. Doremi (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=UCwptnZgvic" target="_blank">https://www.youtube.com/watch?v=UCwptnZgvic</td>
                        <td><img src="https://i.ytimg.com/vi/UCwptnZgvic/default.jpg"></td>
                        <td>881709</td>
                        <td>5327</td>
                        <td>133</td>
                        <td>203</td>
                        <td>2017-09-12</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 孤獨的人我們一起出發 Walk with Me If You're One of the Lonely Ones (Live Recording)</td>
                        <td><a href="https://www.youtube.com/watch?v=HaQ2bN25pGc" target="_blank">https://www.youtube.com/watch?v=HaQ2bN25pGc</td>
                        <td><img src="https://i.ytimg.com/vi/HaQ2bN25pGc/default.jpg"></td>
                        <td>1557890</td>
                        <td>8379</td>
                        <td>153</td>
                        <td>189</td>
                        <td>2017-07-23</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 我若是有來生我想欲變成你 Wanna Be You (Official Music Video)</td>
                        <td><a href="https://www.youtube.com/watch?v=RV2F-iBAWhk" target="_blank">https://www.youtube.com/watch?v=RV2F-iBAWhk</td>
                        <td><img src="https://i.ytimg.com/vi/RV2F-iBAWhk/default.jpg"></td>
                        <td>570094</td>
                        <td>3673</td>
                        <td>71</td>
                        <td>108</td>
                        <td>2017-06-29</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - 波克比的愛 Cartoon Character (Official Audio)</td>
                        <td><a href="https://www.youtube.com/watch?v=-A77BmS_rks" target="_blank">https://www.youtube.com/watch?v=-A77BmS_rks</td>
                        <td><img src="https://i.ytimg.com/vi/-A77BmS_rks/default.jpg"></td>
                        <td>684847</td>
                        <td>3726</td>
                        <td>103</td>
                        <td>171</td>
                        <td>2017-06-06</td>
                    </tr>
            
                    <tr>
                        <td>茄子蛋EggPlantEgg - Ms. Doremi (Official Audio)</td>
                        <td><a href="https://www.youtube.com/watch?v=AfPy0ye-JMs" target="_blank">https://www.youtube.com/watch?v=AfPy0ye-JMs</td>
                        <td><img src="https://i.ytimg.com/vi/AfPy0ye-JMs/default.jpg"></td>
                        <td>118581</td>
                        <td>1019</td>
                        <td>20</td>
                        <td>24</td>
                        <td>2017-02-06</td>
                    </tr>
            
                    <tr>
                        <td>誰是貝斯手大企劃 Bassist Wanted !!!! │ 《血尿召集》 │茄子蛋 EggPlantEgg</td>
                        <td><a href="https://www.youtube.com/watch?v=Ct3TftcMW2Q" target="_blank">https://www.youtube.com/watch?v=Ct3TftcMW2Q</td>
                        <td><img src="https://i.ytimg.com/vi/Ct3TftcMW2Q/default.jpg"></td>
                        <td>36489</td>
                        <td>338</td>
                        <td>9</td>
                        <td>13</td>
                        <td>2017-01-26</td>
                    </tr>
            
    </tbody>
    </table>
    </body>
    </html>
    